.jumbotron{
    margin-top: 10px;
}
#b{
    background-color:#de5a32;
}
#h1{
    font-weight: 900;
    color: #fadcc6;
}
#y{
    color: #fadcc6;
}
#r{
    height: 10px;
}
img{
    margin-left: 410px;
    margin-bottom: 0;
    height: 170px;
}